*{
    font-family: Helvetica;
    
}
#hlavička{
    text-align: center;
    display: block;
}
#hlavička a{
    text-decoration: none;
    color: black;
}

main form{
    text-align: center;
}
main #prvniVyber{
    font-size: 42px;
}
main #telCislo{
    font-size: 40px;
    width: 300px;
    text-align: center;
}
#mobilSymbol{
    width: 50px;
    text-align: center;
}
#vypsatCislo{
    width: 600px;
    margin: 30px auto;
}
#nokiaSound{
    display: none;
}
#button{
    width: 240px;
    height: 20px;
    background-color: #496732;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid black;
    display: none;
}
#formular{
    margin-top: 20px;
    display: none;
    font-size: 20px;
}
#inputCislo{
    margin-bottom: 20px;
}
#inputPopis{
    margin-bottom: 20px;
}
#inputCislo::-webkit-inner-spin-button {
    -webkit-appearance: none;
    
}
#submit{
    width: 270px;
    height: 50px;
    background-color: #496732;
    font-size: 20px;
    padding: 0;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
}
#formular select{
    font-size: 20px;
}
#formular option{
    font-size: 20px;
}
#formular input{
    font-size: 20px;
}
#formular p{
    display: inline;
}